nav {
    position: fixed;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
    z-index: 1;
}

.nav {
    display: flex;
    list-style: none;
    font-size: 1.2rem;
}

nav li {
    margin-right: 3rem;
    cursor: pointer;
}

.nav li:nth-child(1) {
    margin-right: auto;
}

.nav a:hover{
    text-decoration: underline;
}