.card{
    display: flex;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    border-radius: 3px;
    max-width: 80px;
    flex-wrap: wrap;
    margin: 10px;
    padding: 20px;
    transition-duration: .3s;
    justify-content: center;
}

.card:hover{
    transform: translateY(-5px);
}

.image-wrapper img{
    display: block;
    width: 100%;
    object-fit: cover;
    margin-bottom: 1.5rem;
    height: 80px;
}

.skill-title h4{
    margin-bottom: 0;
}