.icons-wrapper {
    display: flex;
}

.icon {
    margin: 10px;
    transition-duration: .3s
}

.icon:hover{
    transform: translateY(-5px)
}

.title {
    padding: 0 20px;
}

.button {
  border: none;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: transparent; 
}